body {
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .size-01 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.05em;
  }
  .size-03 {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.0125em;
  }
  .size-04 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.0125em;
  }
}
